    <!-- Give Section -->
    <section id="give" class="give-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="hidden-md hidden-sm hidden-xs" src="/static/images/giving-sm.jpg"/>
                    <img class="hidden-lg hidden-sm hidden-xs" src="/static/images/giving-sm.jpg" width="400"/>
                    <img class="hidden-lg hidden-md hidden-xs" src="/static/images/giving-sm.jpg" width="350"/>
                    <img class="hidden-md hidden-sm hidden-lg" src="/static/images/giving-sm.jpg" width="300"/>
                </div>
                <div class="col-md-7">
                    <p>If you would like to further the Lord’s work at <i>The Way, the Life and the Truth</i>, we would invite you to pray often for the staff, and pastor. In addition, if you feel led by Jesus to support <i>The Way, the Life and the Truth</i> financially, then you are welcome to click on the button below and make a donation. God bless you, as we work together for the glory of Jesus Christ!</p>
            		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            			<input name="cmd" type="hidden" value="_s-xclick">
            			<input name="hosted_button_id" type="hidden" value="CL8WKU2APKRR6">
            			<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
            			<img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
            		</form>
                </div>
            </div>
        </div>
    </section>
