    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" align="left">
                    <div align="center">
                    <br><br>
                        <h1>WELCOME</h1>
                        <h4>To the Teaching Ministry of Pastor Matt Fox</h4>
                        <h3> It's all about Jesus.</h3>
                    </div>
                    <br>
                    <p>
                    That statement sums up the main narrative of what the Bible is about. It is our prayer that you see the revealing of Jesus Christ through God's word; verse by verse, chapter by chapter, and book by book. It is only as we behold Christ, that we see clearly what it means to be human, to live, love, and experience an abundant life that Jesus promises to those who love Him. May your faith increase as you hear the word of God today!
                   </p>
                </div>
                <div class="col-lg-5">
                    <img class="hidden-md hidden-sm hidden-xs" src="/static/images/pastor-lg.png"/>
                    <img class="hidden-lg hidden-sm hidden-xs" src="/static/images/pastor-md.png"/>
                    <img class="hidden-lg hidden-md hidden-xs" src="/static/images/pastor-sm.png"/>
                    <img class="hidden-md hidden-sm hidden-lg" src="/static/images/pastor-xs.png"/>
                </div>
            </div>
        </div>
    </section>
